{% extends 'base.html' %}

{% block script %}
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<div class="maincontent">
    <h1>Bar: {{ object.name }}</h1>
    Address: {{ object.street_address }}, {{ object.city }}, {{ object.state }}
    <h2>Beers (Best value in green)</h2>
    <div class="table-responsive">
        <table class="table table-hover table-condensed">
            <thead>
                <th>Name</th>
                <th>Alcohol/$</th>
                <th>Serving Size (fl oz)</th>
                <th>ABV</th>
                <th>Alcohol (fl oz)</th>
                <th>Price (USD)</th>
            </thead>
            <tfoot>
                <th>Name</th>
                <th>Alcohol/$</th>
                <th>Serving Size (fl oz)</th>
                <th>ABV</th>
                <th>Alcohol (fl oz)</th>
                <th>Price (USD)</th>
            </tfoot>
            <tbody>
                {% for beer in object.beer_set.all %}
                {% if beer.pk == object.best_beer.pk %}
                <tr class="success">
                {% else %}
                <tr>
                {% endif %}
                    <td><a href="{% url 'beer_detail' pk=beer.pk %}">{{ beer.name }}</a></td>
                    <td>{{ beer.alcohol_per_dollar|floatformat:3 }}</td>
                    <td>{{ beer.fluid_ounces|floatformat:-1 }}</td>
                    <td>{{ beer.alcohol_by_volume|floatformat:1 }}%</td>
                    <td>{{ beer.alcohol_fluid_ounces|floatformat:3 }}</td>
                    <td>${{ beer.price_usd|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
